DATABASE_URL="postgresql://frontiride:frontiride@localhost:5432/frontiride?schema=public"
JWT_SECRET="change-me"
APP_URL="http://localhost:3000"

FEDAPAY_ENV="sandbox"
FEDAPAY_SECRET_KEY=""

PORT=3000
